@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

.container {
    margin: 0 auto;
    position: relative;
}

.reserve {
    /* text-transform: uppercase; */
    background: #FF7100;
    color: white;
    width: 200px;
    font-size: 18px;
}

.cart {
    background: #071425;
    color: white;
    width: 200px;
    font-size: 18px;
}

.cart:hover,
.reserve:disabled,
.reserve:disabled:hover {
    background: #FF7100;
    color: white;
}

.reserve:hover,
.cart:disabled {
    background: #071425;
    color: #f3f4f5;
}

.tab-content #descriptions {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1rem !important;
    font-weight: 800;
    margin-top: 5rem !important;
}

.tab-content h2 {
    color: #071425 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

#pane-2 {
    font-family: 'Tahoma', sans-serif;
    font-size: 1rem;
}

#pane-2 .table-wrapper {
    margin-top: 1rem !important;
}