@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600);
/*************************************************************
*           App Variables
**************************************************************/
/*************************************************************
*           Colors Definitions
**************************************************************/
/*************************************************************
*         Common Element Variables
**************************************************************/
/* ***************************************************
*     Page Specific Element Variables
****************************************************** */
/*****************************************
*       Background-image: cover mixin
******************************************/
/*****************************************
*       Media Query Mixins
******************************************/
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #4f5f6f;
  overflow-x: hidden; }

.main-wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

#ref .color-primary {
  color: #fe821d; }

#ref .chart .color-primary {
  color: #fe9e50; }

#ref .chart .color-secondary {
  color: #ffd6b6; }

.app {
  position: relative;
  width: 100%;
  padding-left: 240px;
  min-height: 100vh;
  margin: 0 auto;
  left: 0;
  background-color: #f0f3f6;
  -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
  -webkit-transition: left 0.3s ease, padding-left 0.3s ease;
  transition: left 0.3s ease, padding-left 0.3s ease;
  overflow: hidden; }
  .app .content {
    padding: 95px 20px 75px 20px;
    min-height: 100vh; }
    @media (min-width: 1200px) {
      .app .content {
        padding: 105px 40px 85px 40px; } }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .app .content {
        padding: 100px 35px 80px 35px; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .app .content {
        padding: 95px 20px 75px 20px; } }
    @media (max-width: 767.98px) {
      .app .content {
        padding: 70px 20px 70px 20px; } }
  @media (max-width: 991.98px) {
    .app {
      padding-left: 0; } }
  @media (max-width: 991.98px) {
    .app.sidebar-open {
      left: 0; } }
  .app.blank {
    background-color: #667380; }

.auth-container {
  width: 450px;
  min-height: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%); }
  .auth-container .checkbox label {
    padding: 0; }
  .auth-container .checkbox a {
    vertical-align: text-top; }
  .auth-container .checkbox span {
    color: #4f5f6f; }

@media (max-width: 767.98px) {
  .auth-container {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: inherit;
            transform: inherit;
    margin: 0;
    margin-bottom: 10px; } }

/*****************************************
*       Background-image: cover mixin
******************************************/
/*****************************************
*       Media Query Mixins
******************************************/

.title-block {
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d7dde4; }
  .title-block::after {
    display: block;
    clear: both;
    content: ""; }
  @media (max-width: 767.98px) {
    .title-block {
      margin-bottom: 20px; } }

.section {
  display: block;
  margin-bottom: 15px; }
  @media (min-width: 1200px) {
    .section {
      margin-bottom: 25px; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .section {
      margin-bottom: 20px; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .section {
      margin-bottom: 15px; } }
  @media (max-width: 767.98px) {
    .section {
      margin-bottom: 10px; } }
  .section:last-of-type {
    margin-bottom: 0; }

.well {
  background-image: none;
  background-color: #fff; }

.rounded {
  border-radius: 0.25rem; }

.jqstooltip {
  height: 25px !important;
  width: auto !important;
  border-radius: 0.2rem; }

.title {
  font-size: 1.45rem;
  font-weight: 600;
  margin-bottom: 0; }
  .title.l {
    font-size: 1.6rem; }
  .title.s {
    font-size: 1.4rem; }
  .card .title {
    font-size: 1.1rem;
    color: #4f5f6f; }

pre {
  padding: 0;
  border: none;
  background: none; }

.alert {
  background-image: none; }

.animated {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: .1s;
          animation-delay: .1s; }

.btn {
  background-image: none;
  border-radius: 0;
  margin-bottom: 5px;
  line-height: 1.2; }
  .btn, .btn:hover {
    color: #ffffff; }
  .btn strong {
    font-weight: 600; }

.card {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1);
          box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1);
  margin-bottom: 10px;
  border-radius: 0;
  border: none; }
  .card .card {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .card .title-block,
  .card .card-title-block {
    padding-bottom: 0;
    margin-bottom: 20px;
    border: none; }
    .card .title-block::after,
    .card .card-title-block::after {
      display: block;
      clear: both;
      content: ""; }
  .card .section {
    margin-bottom: 20px; }
  .card .example,
  .card .section.demo {
    margin-bottom: 20px; }

.card-block {
  padding: 15px; }
  @media (min-width: 1200px) {
    .card-block {
      padding: 20px; } }
  @media (max-width: 767.98px) {
    .card-block {
      padding: 10px; } }

.dropdown-menu {
  float: left;
  -webkit-box-shadow: 2px 3px 6px rgba(126, 142, 159, 0.1);
          box-shadow: 2px 3px 6px rgba(126, 142, 159, 0.1);
  border: 1px solid rgba(126, 142, 159, 0.1);
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
  .dropdown-menu .dropdown-item {
    display: block;
    padding: 0px 15px;
    clear: both;
    font-weight: normal;
    color: #4f5f6f;
    white-space: nowrap;
    -webkit-transition: none;
    transition: none; }
    .dropdown-menu .dropdown-item i {
      margin-right: 2px; }
    .dropdown-menu .dropdown-item:hover {
      color: #fe821d !important;
      background: none;
      background-color: whitesmoke; }

input,
textarea {
  outline: none; }

.form-group .row {
  margin-left: -10px;
  margin-right: -10px; }
  .form-group .row [class^='col'] {
    padding-left: 10px;
    padding-right: 10px; }

.form-group.has-error span.has-error {
  color: #FF4444;
  font-size: 13px;
  display: block !important; }

/* Input groups */

label {
  font-weight: 600; }

.radio,
.checkbox {
  display: none; }
  .radio + span,
  .checkbox + span {
    padding: 0;
    padding-right: 10px; }
  .radio + span:before,
  .checkbox + span:before {
    font-family: FontAwesome;
    font-size: 21px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 10px;
    color: #c8d0da; }
  .radio:checked + span:before,
  .checkbox:checked + span:before {
    color: #fe821d; }
  .radio:disabled + span:before,
  .checkbox:disabled + span:before {
    opacity: 0.5;
    cursor: not-allowed; }
  .radio:checked:disabled + span:before,
  .checkbox:checked:disabled + span:before {
    color: #c8d0da; }

.checkbox + span:before {
  content: "\f0c8"; }

.checkbox:checked + span:before {
  content: "\f14a"; }

.checkbox.rounded + span:before {
  content: "\f111"; }

.checkbox.rounded:checked + span:before {
  content: "\f058"; }

.radio + span:before {
  content: "\f111"; }

.radio:checked + span:before {
  content: "\f192"; }

.form-control::-webkit-input-placeholder {
  font-style: italic;
  color: #c8d0da; }

.form-control:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
  color: #d7dde4; }

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
  color: #d7dde4; }

.form-control:-ms-input-placeholder {
  font-style: italic;
  color: #d7dde4; }

.images-container::after {
  display: block;
  clear: both;
  content: ""; }

.images-container .image-container {
  float: left;
  padding: 3px;
  margin-right: 10px;
  margin-bottom: 35px;
  position: relative;
  border: 1px solid #e6eaee;
  overflow: hidden; }
  .images-container .image-container.active {
    border-color: #fe821d; }
  .images-container .image-container:hover .controls {
    bottom: 0;
    opacity: 1; }

.images-container .controls {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  bottom: -35px;
  text-align: center;
  height: 35px;
  font-size: 24px;
  -webkit-transition: bottom 0.2s ease, opacity 0.2s ease;
  transition: bottom 0.2s ease, opacity 0.2s ease;
  background-color: #fff; }
  .images-container .controls::after {
    display: block;
    clear: both;
    content: ""; }
  .images-container .controls .control-btn {
    display: inline-block;
    color: #4f5f6f;
    cursor: pointer;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
    .images-container .controls .control-btn:hover {
      opacity: 1; }
    .images-container .controls .control-btn.move {
      cursor: move; }
    .images-container .controls .control-btn.star {
      color: #FFB300; }
      .images-container .controls .control-btn.star i:before {
        content: "\f006"; }
      .images-container .controls .control-btn.star.active i:before {
        content: "\f005"; }
    .images-container .controls .control-btn.remove {
      color: #FF4444; }

.images-container .image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 130px;
  height: 135px;
  line-height: 135px;
  text-align: center; }

.images-container .image-container.main {
  border-color: #FFB300; }

.images-container .image-container.new {
  opacity: 0.6;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-style: dashed;
  border: 1px #fe821d solid;
  color: #fe821d; }
  .images-container .image-container.new .image {
    font-size: 2.5rem; }
  .images-container .image-container.new:hover {
    opacity: 1; }

/* *******************************************
*     Item List general styles
********************************************** */

/* *******************************************
*     Item general styles
********************************************** */

/* *******************************************
*       Item components
********************************************** */

/* *******************************************
*       Adjustments
********************************************** */

.logo {
  display: inline-block;
  width: 45px;
  height: 25px;
  vertical-align: middle;
  margin-right: 5px;
  position: relative; }
  .logo .l {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #fe821d;
    position: absolute; }
    .logo .l.l1 {
      bottom: 0;
      left: 0; }
    .logo .l.l2 {
      width: 7px;
      height: 7px;
      bottom: 13px;
      left: 10px; }
    .logo .l.l3 {
      width: 7px;
      height: 7px;
      bottom: 4px;
      left: 17px; }
    .logo .l.l4 {
      bottom: 13px;
      left: 25px; }
    .logo .l.l5 {
      bottom: 0;
      left: 34px; }

a:not(.btn) {
  -webkit-transition: initial;
  transition: initial;
  text-decoration: underline;
  color: #969696; }
  a:not(.btn):hover {
    text-decoration: underline;
    color: #f9780e; }
    a:not(.btn):hover:before {
      -webkit-transform: scaleX(1);
              transform: scaleX(1); }
  a:not(.btn):focus {
    text-decoration: none; }

span a {
  vertical-align: text-bottom; }

[class^='nav'] li > a,
[class*=' nav'] li > a {
  display: block; }
  [class^='nav'] li > a:before,
  [class*=' nav'] li > a:before {
    display: none; }

#nprogress .bar {
  background: #fe821d !important; }
  #nprogress .bar .peg {
    -webkit-box-shadow: 0 0 10px #fe821d, 0 0 5px #fe821d;
            box-shadow: 0 0 10px #fe821d, 0 0 5px #fe821d; }

#nprogress .spinner {
  top: 25px !important;
  right: 23px !important; }
  #nprogress .spinner .spinner-icon {
    border-top-color: #fe821d !important;
    border-left-color: #fe821d !important; }

.table label {
  margin-bottom: 0; }

.table .checkbox + span {
  margin-bottom: 0; }
  .table .checkbox + span:before {
    line-height: 20px; }

/* Let's get this party started */
::-webkit-scrollbar {
  width: 7px;
  height: 7px; }

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0; }

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #fe7404; }

::-webkit-scrollbar-thumb:window-inactive {
  background: #fe821d; }

.error-card {
  width: 410px;
  min-height: 330px;
  margin: 60px auto; }
  .error-card .error-container {
    text-align: center;
    visibility: hidden; }
    .error-card .error-container.visible {
      visibility: visible; }
  .error-card.global {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    margin: 0; }
    
    .error-card.global .error-container {
      color: #ffffff; }

@media (min-width: 768px) and (max-width: 991.98px) {
  .error-card {
    width: 50%; }
    .error-card.global {
      position: relative;
      top: 25%;
      left: 0;
      -webkit-transform: inherit;
              transform: inherit;
      margin: 40px auto; } }

@media (max-width: 767.98px) {
  .error-card {
    width: 90%; }
    .error-card.global {
      position: relative;
      top: 25%;
      left: 0;
      -webkit-transform: inherit;
              transform: inherit;
      margin: 40px auto; } }

.wyswyg {
  border: 1px solid #d7dde4; }
  .wyswyg .ql-container {
    border-top: 1px solid #d7dde4; }
  .wyswyg .toolbar .btn {
    margin: 0; }
  .wyswyg .ql-container {
    font-size: 1rem; }
    .wyswyg .ql-container .ql-editor {
      min-height: 200px; }

.footer {
  background-color: #fff;
  position: absolute;
  left: 240px;
  right: 0;
  bottom: 0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer-fixed .footer {
    position: fixed; }
  @media (max-width: 991.98px) {
    .footer {
      left: 0; } }
  .footer .author > ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .footer .author > ul li {
      display: inline-block; }
      .footer .author > ul li:after {
        content: "|"; }
      .footer .author > ul li:last-child:after {
        content: ""; }
      @media (max-width: 991.98px) {
        .footer .author > ul li {
          display: block;
          text-align: right; }
          .footer .author > ul li:after {
            content: ""; } }
    @media (max-width: 991.98px) {
      .footer .author > ul {
        display: block; } }
    @media (max-width: 767.98px) {
      .footer .author > ul {
        display: none; } }

.header {
  background-color: #d7dde4;
  height: 70px;
  position: absolute;
  left: 240px;
  right: 0;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 991.98px) {
    .header {
      left: 0; } }
  @media (max-width: 767.98px) {
    .header {
      left: 0;
      height: 50px; } }
  .header-fixed .header {
    position: fixed; }
  @media (max-width: 767.98px) {
    .header .header-block {
      padding: 5px; } }

.sidebar {
  background-color: #3a4651;
  width: 240px;
  padding-bottom: 60px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 20; }
  @media (max-width: 991.98px) {
    .sidebar {
      position: fixed;
      left: -240px; } }
  .sidebar-fixed .sidebar {
    position: fixed; }
  .sidebar-open .sidebar {
    left: 0; }
  .sidebar .sidebar-container {
    position: absolute;
    top: 0;
    bottom: 51px;
    width: 100%;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden; }
    .sidebar .sidebar-container::-webkit-scrollbar-track {
      background-color: #2c353e; }
  .sidebar .label {
    font-size: .75em;
    display: inline-block;
    border-radius: .2em;
    padding: 2px 5px;
    background-color: #ccc;
    color: #000;
    margin: 0 3px; }
  .sidebar .sidebar-menu {
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0; }
    .sidebar .sidebar-menu li a:focus,
    .open .sidebar .sidebar-menu li a:focus {
      background-color: inherit; }
    .sidebar .sidebar-menu ul {
      padding: 0;
      height: 0px;
      overflow: hidden; }
      .loaded .sidebar .sidebar-menu ul {
        height: auto; }
    .sidebar .sidebar-menu li.active ul {
      height: auto; }
    .sidebar .sidebar-menu li a {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
      display: block; }
    .sidebar .sidebar-menu li a:hover,
    .sidebar .sidebar-menu li.open > a,
    .sidebar .sidebar-menu li.open a:hover {
      color: #ffffff;
      background-color: #2d363f; }
    .sidebar .sidebar-menu .arrow {
      float: right;
      font-size: 18px;
      line-height: initial;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      margin-right: 0; }
      .sidebar .sidebar-menu .arrow:before {
        content: "\f105" !important; }
    .sidebar .sidebar-menu li.open > a .arrow {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    .sidebar .sidebar-menu > li > a {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 15px; }
    .sidebar .sidebar-menu > li.active > a,
    .sidebar .sidebar-menu > li.active > a:hover {
      background-color: #fe821d !important;
      color: #ffffff !important; }
    .sidebar .sidebar-menu > li.open > a {
      background-color: #333e48; }
    .sidebar .sidebar-menu > li > a i {
      margin-right: 5px;
      font-size: 16px; }
      .sidebar .sidebar-menu > li > a i.arrow {
        font-size: 20px; }
    .sidebar .sidebar-menu > li > .sidebar-nav > li a {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 50px;
      padding-right: 15px;
      background-color: #333e48; }
    .sidebar .sidebar-menu > li > .sidebar-nav > li.active a {
      color: #ffffff; }
    .sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li a {
      padding-left: 60px;
      padding-right: 15px; }
    .sidebar .sidebar-menu > li > .sidebar-nav > li > .sidebar-nav > li > .sidebar-nav > li a {
      padding-left: 70px; }

.sidebar-overlay {
  position: absolute;
  display: none;
  left: 200vw;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: 15; }
  @media (max-width: 991.98px) {
    .sidebar-overlay {
      display: block; } }
  @media (max-width: 767.98px) {
    .sidebar-overlay {
      background-color: rgba(0, 0, 0, 0.7); } }
  @media (max-width: 991.98px) {
    .sidebar-open .sidebar-overlay {
      left: 0;
      opacity: 1; } }

.sidebar-mobile-menu-handle {
  display: none;
  position: absolute;
  top: 50px;
  background-color: transparent;
  width: 30px;
  bottom: 0;
  z-index: 10; }
  @media (max-width: 991.98px) {
    .sidebar-mobile-menu-handle {
      display: block; } }

.dashboard-page #dashboard-downloads-chart,
.dashboard-page #dashboard-visits-chart {
  height: 220px; }

.dashboard-page #dashboard-sales-map .jqvmap-zoomin,
.dashboard-page #dashboard-sales-map .jqvmap-zoomout {
  background-color: #fe821d;
  height: 20px;
  width: 20px;
  line-height: 14px; }

.dashboard-page #dashboard-sales-map .jqvmap-zoomout {
  top: 32px; }

@media (max-width: 767.98px) {
  .items-list-page .title-block {
    padding-bottom: 10px;
    margin-bottom: 13px; } }

.items-list-page .title-block .action {
  display: inline; }
  .items-list-page .title-block .action a {
    padding: 10px 15px; }
    .items-list-page .title-block .action a .icon {
      margin-right: 5px;
      text-align: center;
      width: 16px; }
  @media (max-width: 767.98px) {
    .items-list-page .title-block .action {
      display: none; } }

@media (max-width: 767.98px) {
  .items-list-page .card.items {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none; } }

#modal-media .images-container {
  padding: 15px;
  text-align: center; }
  #modal-media .images-container .image-container {
    margin: 0 auto 10px auto;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    float: none; }
    #modal-media .images-container .image-container:hover {
      border-color: rgba(254, 130, 29, 0.5); }
    #modal-media .images-container .image-container.active {
      border-color: rgba(254, 130, 29, 0.5); }

.header .header-block-collapse {
  padding-right: 5px; }
  @media (max-width: 767.98px) {
    .header .header-block-collapse {
      width: 155px; } }
  .header .header-block-collapse .collapse-btn {
    background: none;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #fe821d;
    font-size: 24px;
    line-height: 40px;
    border-radius: 0;
    outline: none;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: initial; }

.header .header-block-nav {
  margin-left: auto;
  white-space: nowrap;
  padding-right: 15px; }
  @media (max-width: 767.98px) {
    .header .header-block-nav {
      padding-right: 25px; } }
  .header .header-block-nav::after {
    display: block;
    clear: both;
    content: ""; }
  .header .header-block-nav a {
    text-decoration: none; }
  .header .header-block-nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .header .header-block-nav > ul {
    display: table; }
  .header .header-block-nav > ul > li {
    display: table-cell;
    position: relative; }
    .header .header-block-nav > ul > li:before {
      display: block;
      content: " ";
      width: 1px;
      height: 24px;
      top: 50%;
      margin-top: -12px;
      background-color: #8b9cb1;
      position: absolute;
      left: 0; }
    .header .header-block-nav > ul > li:first-child:before {
      display: none; }
  .header .header-block-nav > ul > li > a {
    padding: 0 15px;
    color: #4f5f6f; }
    .header .header-block-nav > ul > li > a:hover {
      color: #fe821d; }
  .header .header-block-nav .dropdown-menu {
    margin-top: 15px; }

.customize {
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  padding: 5px 15px;
  text-align: center; }

#customize-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 240px; }
  @media (max-width: 991.98px) {
    .sidebar-open #customize-menu {
      left: 0; } }
  @media (max-width: 991.98px) {
    #customize-menu {
      -webkit-transition: left 0.3s ease;
      transition: left 0.3s ease;
      left: -240px; } }
  #customize-menu > li > a {
    background-color: #3a4651;
    border-top: 1px solid rgba(45, 54, 63, 0.5); }
  #customize-menu > li > a:hover,
  #customize-menu > li.open > a {
    background-color: #2d363f; }
  #customize-menu .customize {
    width: 240px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #2d363f;
    text-align: center;
    padding: 10px 15px;
    border-top: 2px solid #fe821d; }

.sidebar-header .brand {
  color: #fff;
  text-align: left;
  padding-left: 25px;
  line-height: 70px;
  font-size: 16px; }
  @media (max-width: 767.98px) {
    .sidebar-header .brand {
      line-height: 50px;
      font-size: 16px; } }

.header .header-block-nav .profile .img {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  background-color: #8b9cb1;
  color: #ffffff;
  text-align: center;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  vertical-align: middle; }

.header .header-block-nav .profile .name {
  display: inline-block;
  margin-right: 9px;
  font-weight: bold; }
  @media (max-width: 767.98px) {
    .header .header-block-nav .profile .name {
      display: none; } }

.header .header-block-nav .profile .arrow {
  color: #fe821d; }

.header .header-block-nav .profile-dropdown-menu {
  left: auto;
  right: 0;
  min-width: 180px;
  white-space: normal; }
  .header .header-block-nav .profile-dropdown-menu:before {
    position: absolute;
    right: 10px;
    bottom: 100%;
    margin-right: -1px; }
  .header .header-block-nav .profile-dropdown-menu:after {
    position: absolute;
    right: 10px;
    bottom: 100%; }
  .header .header-block-nav .profile-dropdown-menu a {
    padding: 10px 15px; }
    .header .header-block-nav .profile-dropdown-menu a .icon {
      color: #fe821d;
      text-align: center;
      width: 16px; }
    .header .header-block-nav .profile-dropdown-menu a span {
      display: inline-block;
      padding-left: 5px;
      text-align: left;
      color: #7e8e9f; }
  .header .header-block-nav .profile-dropdown-menu .dropdown-divider {
    margin: 0; }
  @media (max-width: 767.98px) {
    .header .header-block-nav .profile-dropdown-menu {
      margin-top: 8px; } }
